body {
    background-color: rgb(95, 62, 134);
}

.interface-calculator {
    margin: 0px;
    border-radius: 35px;
    padding: 0px;
    width: 350px;
    height: 500px;
    background-color: rgb(0, 58, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.interface-view {
    background-color: rgb(80, 117, 246);
    width: 300px;
    height: 90px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center; 
}

.view-numbers-operated {
    color: rgb(255, 255, 255);
    font-size: 30px;
    height: 45px;
    display: none;
    text-align: left;
    margin-left: 15px;
}

.view-numbers {
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 300px;
    height: 90px;
    border-radius: 20px;
    text-align: center;
}

.interface-container {
    height: 320px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.interface-operations-numbers {
    margin: 10px;
    display: flex;
    gap: 10px;
}

.interface-numbers {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
}

.interface-numbers button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(0, 22, 98);
    border:none;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.interface-operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.interface-operators button {
    width: 50px;
    height: 50px;
    background-color: rgb(6, 109, 29);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 40px;
    border-radius: 10px;
}

.interface-clear {
    width: 80%;
}

.interface-clear button {
    width: 100%;
    height: 50px;
    background-color: rgb(95, 62, 134);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 20px;
}

